* {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background: linear-gradient(to bottom, rgb(180, 173, 173), rgb(212, 212, 212));
  border-radius: 0.3rem;
  border: 3px solid rgb(90, 99, 105);
}
